.places {
    max-width: 984px;
    margin: 0 auto;
    padding: 107px 0 77px 0;
    display: grid;
    row-gap: 80px;
    box-sizing: border-box;
    font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width:1024px) {
    .places {
        padding: 92px 0 92px 0;
        max-width: 928px;
    }
}

@media screen and (max-width:950px) {
    .places {
        max-width: 720px;
        padding: 88px 0 90px 0;
    }
}


@media screen and (max-width:730px) {
    .places {
        width: 90%;
        padding: 64px 0 66px 0;
    }
}

@media screen and (max-width:320px) {
    .places {
        width: 100%;
        row-gap: 50px;
    }
}