.intro{
    max-width: 690px;
    min-height: 429px;
    margin: 0 auto;
    padding: 92px 296px 0 0;
    font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width:1024px) {
    .intro{
        max-width: 690px;
        padding: 92px 238px 0 0;
        width: 67%;
        
    }
}

@media screen and (max-width:768px) {
    .intro{
        max-width: 720px;
        padding: 88px 0 0 0;
        width: 94%;
    }
}

@media screen and (max-width:320px) {
    .intro{
        max-width: 288px;
        padding: 64px 0 0 0;
        width: 90%;
    }
}