.cover {
    max-width: 1184px;
    min-height: 740px;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
}



@media screen and (max-width:1184px) {
    .cover {

        min-height: 640px;
    }
}

@media screen and (max-width:768px) {
    .cover {
        min-height: 480px;
    }
}

@media screen and (max-width:320px) {
    .cover {
        min-height: 200px;
    }
}