.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    text-align: center;
    padding-bottom: 32px;
    margin: 0 auto;
    max-width: 560px;
}

@media screen and (max-width:510px) {
    .cover__title {
        max-width: 75%;
        font-size: 40px;
        line-height: 40px;
    }
}

@media screen and (max-width:390px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        padding-bottom: 16px;
        max-width: 288px;
    }
}