.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1184px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 24px;
    padding-top: 92px;
    font-family: 'Inter', Arial, sans-serif;

}

@media screen and (max-width:1200px) {
    .footer {

        width: 96%;
    }
}

@media screen and (max-width:1024px) {
    .footer {
        max-width: 928px;
        padding-top: 88px;
    }
}

@media screen and (max-width:768px) {
    .footer {
        max-width: 720px;
        padding-top: 64px;
    }
}

@media screen and (max-width:725px) {
    .footer {
        width: 70%;
        padding: 64px 0 24px 16px;
        display: block;
        margin: 0;
    }
}


@media screen and (max-width:320px) {
    .footer {
        width: 90%;
        padding: 64px 0 24px 16px;
        display: block;
        margin: 0;
    }
}